header{
    background-color: #162b29;
}

form{
    margin-left: 2em;
}

input, select {
    width: 50%;
    height: 3em;
    margin: 0.75em 0px;
    border: none;
    border-radius: 10px;
    background-color: #f8bd9e;
}

button{
    background-color: #eec934;
    margin: 0.75em;
    border: none;
}

button:hover{
    background-color: #fbda57;
}

.WWList table thead {
    background-color: #f8bd9e;
  }

.WWList table tbody tr:nth-child(2n) {
    background-color: #eeeeeeab;
}