
input, select {
    width: 100%;
    height: 3em;
    margin: 0.75em 0px;
    border: none;
    border-radius: 10px;
    background-color: #f8bd9e;
}

button{
    background-color: #eec934;
    margin: 0.75em;
    border: none;
    width: 25%;
    height: 20%;
}

button:hover{
    background-color: #fbda57;
}

.WWList table thead {
    background-color: #f8bd9e;
  }

.WWList table tbody tr:nth-child(2n) {
    background-color: #eeeeeeab;
}

.contenedor{
    flex-direction: row;
    width:70%;
}
